<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= javascript_include_tag('jquery-2.1.0.min',
    'underscore-min',
    'leaflet',
    'background_answers') %>

  </head>
  <body>


      <header class="site-header">
        <div class="site-header-content">
          <div class="branding"><h2>Kenen kaupunki?</h2></div>
          <div class="site-navigation">
          <select class="navigate-areas">
              <option value="volvo">Kallio</option>
              <option value="saab">Viikki</option>
              <option value="mercedes">Pitäjänmäki</option>
              <option value="audi">Oulunkylä</option>
          </select>
          </div>
        </div>
      </header>
    
      <div class="page">
        <%= yield %>
      </div>

    
    
    <footer class="page-footer">
      <div class="footer-content">
        <p>#helsinki2050 hackathon project — Katja Virta, Timo Tuominen, Tero Tikkanen</p>
      </div>
    </footer>
    <%= javascript_include_tag('main') %>
  </body>
</html>
