@import "susy";
@import "breakpoint";

// GRID SETTINGS

$total-columns          : 6;
$column-width           : 4.125em; // 66 / 990 * 100 = %
$gutter-width           : 1.125em; // 12 / 990 * 100 = %
$side-gutter-width      : 2.813em; // 45 / 1080 * 100 = % | 2.813em
$container-style  : magic;
$from-direction : left;
$omega-float: left;
$show-grid-backgrounds  : true;
$gutter-position: inside ;
 
$container-width:900px;

$susy: (
  // the basics
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
  gutter-position: $gutter-position, 
  // advanced
  container: $container-width,
  global-box-sizing: border-box,
  math: if($container-style == magic, fluid, $container-style),
  flow: if($from-direction == right, rtl, ltr),
  last-flow: if($omega-float == $from-direction, from, to),
);

.page {
  margin: 0;
}

.site-header, .g-info-section, .g-page-header { 
  @include container;
}

.choice-graphs {
  @include clearfix;
}

nav { @include span(6 of 6);}
article { @include span(9 of 12); }
  
.g-page-header-navback {
  @include span( 3 of 6);
}

.g-page-header-navfront {
  @include span( 3 of 6);
}

.g-page-header-title {
  @include span( 6 of 6);
}

.page-footer {
   @include container;
}

.g-choice {
  @include span(3 of 6);
}

.g-legendarea {
  @include span(6 of 6);
}

.g-maparea {
  @include span(6 of 6);
}

.g-rankingarea {
  @include span(6  of 6);
}

@include susy-breakpoint(680px, 12) {
  
.site-header, .g-info-section, .g-page-header { 
  @include container;
}

.choice-graphs {
  @include clearfix;
}

nav { @include span(3 of 12);}
article { @include span(9 of 12); }


  .g-page-header {
  @include container;
  }
  
.g-page-header-navback {
  @include span( 2 of 12);
  @include pull (10 of 12);
}

.g-page-header-navfront {
  @include span( 2 of 12);
}

.g-page-header-title {
  @include span( 8 of 12);
  @include push (2 of 12);
}
  
.page-footer {
   @include container;
}

.g-choice {
  @include span(3 of 12);
}

.g-legendarea {
  @include span(12 of 12);
}

.g-maparea {
  @include span(8 of 12);
}

.g-rankingarea {
  @include span(4 of 12);
}
}
