//
// Application Stylesheet
//

@import "compass";

//@import "partials/base";
@import "modules/all";
@import "partials/layout";

@include global-reset();

// TYPE SETTINGS

$default-font : 'Inconsolata', sans-serif;

$font-normal: 400;
$font-bold: 700;

$base-font-size: 18px;
$base-line-height: 24px;
$round-to-nearest-half-line: true;

@include establish-baseline;


//COLORS HERE
$color-bg: #eeeeee;
$color-text: #363636;

$normal: #000099;
$hover: #990000;
$active: #990000;
$visited: #990000;
$focus: #990000;
  
$sky: #6AABE7;
$fire: #E2591B; 
$wood: #6A450D; 
$grass: #708F38;
$piggy: #EF889D;
$lemon: #E4D461;

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
 font-family: $default-font; 
 font-weight: 400;
 background-color: $color-bg;
  color: $color-text;
}
  
a {
  @include link-colors($normal, $hover, $active, $visited, $focus);
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  font-weight: 700;
}

h1 {
  @include adjust-font-size-to(47.123px);
  //font-size: 3.491em;
}

h2 {
  @include adjust-font-size-to(38.832px);
}

h3 {
  @include adjust-font-size-to(29.124px);
}

h4 {
  @include adjust-font-size-to(24px);
}

.branding {
  width: 70%; 
  margin: 0;
  padding: 0;
  float: left;
  h2 {
    a {
      color: $sky;
    }
  }
  h4 {
    font-weight: 400;
  }
}

.site-navigation {
  width: 30%;
  margin: 0;
  padding: 0;
  float: left;
  text-align: right;
}

.site-header-content {
  margin: 0 0 24px 0;
  padding: 24px $gutter-width/2;
  background-color: #ffffff;
  @include clearfix;
}

.site-header.front .site-header-content {
  margin: 0;
}

.header-link {
  font-size: 32px;
  a {
    color: $grass;
    text-decoration: none;
    &:hover {
      color: $fire;
    }
  }
}

.g-info-section.neighborhood-input {
  background-color: white;
  .neighborhood-input-element {
    max-width: 300px;
    margin: 0 auto;
    &.neighborhood-autocomplete-menu-anchor {
      position: relative;
    }
    #neighborhood-text-input {
      padding: 4px;
      font-size: 18px;
      width: 300px;
      line-height: 20px !important;
      color: #999;
      font-style: italic;
      &.has-neighborhood, &.has-text {
        color: black;
        font-style: normal;
      }
    }
    .neighborhood-autocomplete-menu {
      z-index: 10;
      overflow-x: hidden;
      background-color: rgba(255,255,255,0.5);
      box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
      position: absolute;
      top: 4px;
      left: 0;
      width: 300px;
      border-radius: 4px;
      padding: 4px;
      min-height: 20px;
      border: 1px solid black;
      .neighborhood-autocomplete-menu-item {
        color: rgba(50,50,50,0.95);
        display: block;
      }
      .neighborhood-autocomplete-menu-item:hover {
        color: rgba(255,255,255,0.95);
        background-color: rgba(50,50,50,50.95);
      }
    }
  }
}


.page-header {
  @include clearfix;
  padding: 12px 0;
  border-top: 2px solid $color-text;
  border-bottom: 2px solid $color-text;
  margin-bottom: 24px;
}

.page-header-title {
  text-align: center;
}

.header-responders-count {
  text-align: center;
  color: lighten($color-text, 50%);
}

.header-link-next, .header-link-next a {
  float: right;
  cursor: e-resize;
  text-align: right;
}

.header-link-prev, .header-link-prev a {
  float: left;
  cursor: w-resize;
}


.navigate-areas {
  background: $sky;
  border: none;
  font-size: 20px;
  font-family: $default-font;
  option {
    font-family: $default-font;
  }
}

.header-link-destination {
  display: block;
  @include adjust-font-size-to(10px);
}


.summary-header {
  @include clearfix();
  height: 170px;
  text-align: center;
  h3 {
    @include adjust-font-size-to(24px);
  }
}

.summary-content {
  margin-bottom: 12px;
}

.summary-value {
  font-weight: $font-bold;
  display: inline-block;
  letter-spacing: -0.08em;
  font-size: 38px;
  line-height: 74px;
}

.summary-value--age {
  color: $sky;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 30px;
  border-bottom: 4px solid $sky;
  border-top: 4px solid $sky;
  line-height: 30px;
  margin: 20px 0;
}

.summary-icons {
  margin: 0 auto 0 auto;
}

.summary-icon {
  //display: none;
  display: inline-block;
  //padding: $gutter-width/2;
  font-size: 74px;
  line-height: 74px;
}

.summary-icon--color-1 {
    color: $sky;
}

.summary-icon--color-2{
    color: $fire;
}
.summary-icon--color-3{
    color: $grass;
}
.summary-icon--color-4{
    color: $piggy;
}
.summary-icon--color-5{
    color: $lemon;
}
.choice-graphs {
  margin-bottom: 24px;
}

.choice {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  text-align: center;
  line-height: 50px;
  @include box-sizing(border-box);
  border: 1px solid $color-bg;
}

.choice-chart {
  font-size: 12px;
  line-height: 14px;
  background: #FFF;
  padding: 12px;
  min-height: 280px;
}

.choice-column {
  padding-bottom: 5px;
  position: relative;
  //border-bottom: solid 1px #CCCCCC;

}

.choice-icon {
  width: 24px;
  float: left;
  font-size: 18px;
  height: 32px;
  line-height: 38px;
  text-align: center;
  color: #CCC;
}

.choice-label {
  display: block;
  margin-left: 32px;
}

.choice-line-container {
  margin-left: 32px;
  margin-top: 3px;
  background: #ececec;
  .choice-line {
    height: 14px;
  }
}

.choice-chart-noicons {

  .choice-label {
    margin-left: 0;
    float :left;
    width: 48px;
  }

  .choice-line-container {
    margin-left: 48px;
    margin-bottom: 6px;
  }
}

@mixin choice-color-1 {
  .choice-line {
    background-color: $sky;
  }
  .choice-icon, .summary-icon {
    color: $sky;
  }
}
@mixin choice-color-2 {
  .choice-line {
  background-color: $fire;
  }
  .choice-icon, .summary-icon {
    color: $fire;
  }
}
@mixin choice-color-3 {
  .choice-line {
  background-color: $grass;
  }
  .choice-icon, .summary-icon {
    color: $grass;
  }
}
@mixin choice-color-4 {
  .choice-line {
  background-color: $piggy;
  }
  .choice-icon, .summary-icon {
    color: $piggy;
  }
}
@mixin choice-color-5 {
  .choice-line {
  background-color: $lemon;
  }
  .choice-icon, .summary-icon {
    color: $lemon;
  }
}

.choice-color-age { @include choice-color-1 }

.choice-color-single { @include choice-color-1 }
.choice-color-couple { @include choice-color-2 }
.choice-color-withkids { @include choice-color-3 }
.choice-color-group { @include choice-color-4 }
.choice-color-other { @include choice-color-5 }

.choice-color-verylikely { @include choice-color-1 }
.choice-color-quitelikely { @include choice-color-2 }
.choice-color-notsure { @include choice-color-3 }
.choice-color-quiteunlikely { @include choice-color-4 }
.choice-color-veryunlikely { @include choice-color-5 }

.choice-color-car { @include choice-color-1 }
.choice-color-bike { @include choice-color-2 }
.choice-color-walk { @include choice-color-3 }
.choice-color-public { @include choice-color-4 }

.choice-value {
  position: absolute;
  width: 80px;
  height: 30px;
  top: -35px;
  left: 15px;
  line-height: 14px;
  padding: 8px;
  font-size: 14px;
  font-weight: $font-bold;
  text-align: center;
  background: $color-text;
  color: $color-bg;
  display: none;
}

.choice-value:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: $color-text transparent transparent $color-text;
      top: 24px;
      left: 0;
}


.choice-column:hover {
  cursor: help;
  background: $color-bg;
  
  .choice-icon {
    color: $color-text !important;
  }
  .choice-line {
    background-color: $color-text !important;
  }
}

.choice-column:hover .choice-value {
  display: block;
}

.map-ranking-content {
  h2 {
    i {
      font-size: 24px;
      color: $grass;
    }
  }
}

.mapview {
  @include clearfix;
  background-color: #fff;
  padding: 12px;
  margin-bottom: 24px;
}

.map-legends {
  border: 2px solid $color-text;
  padding: 12px;
  margin-bottom: 12px;
}

.map-legend--1 {
  i {
    color: $color-text;
  }
}

.map-legend--2 {
  i {
    color: $grass;
  }
}

.building-map {
    position: relative;
    padding-bottom: 60%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    margin-bottom: 12px;
}

.building-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


.rankingarea-list {
  list-style-type: upper-roman;
}

.rankingarea-list {
	counter-reset: rank-counter;
}
.rankingarea-list li:before {
    display: inline-block;
	content: counter(rank-counter);
	counter-increment: rank-counter;
    font-weight: $font-bold;
    background-color: $color-text;
    padding: 3px;
    line-height: 14px;
    height: 20px;
    width: 20px;
    text-align: center;
    color: $color-bg;
    margin-right: 14px;
}

.ranking-count {
  font-size: 11px;
  color: darken($lemon, 33%);
}

.rankingarea {
  padding: $gutter-width/2;
  font-size: 21px;
  background: $lemon;
  margin-bottom:  $gutter-width/2;
}

.map-content {
  @include background(image-url("map-placemarker.png"));
  height: 200px;
}

.value-questions {
  background: #FFF;
  padding: 12px;
}

.value-question {
  margin-top: 30px;
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid $color-text;
}

.value-question-statement {
  display: inline-block;
  width: 30%;
  font-size: 12px;
  line-height: 12px;
}

.value-question-statement--first {
  text-align: right;
}

.value-question-graphic {
  display: inline-block;
  position: relative;
  width: 35%;
  background: $piggy;
  height: 30px;
}

.value-question-graphic-spacer {
  position: relative;
  background: $sky;
  height: 30px;
}

.value-question-marker {
  position: absolute;
  background: $color-text;
  color: $color-bg;
  text-align: center;
  line-height: 30px;
  font-size: 21px;
  width: 30px;
  height: 30px;
  display: block;
  top: -24px;
  right: -15px;
}

.value-question-marker:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: $color-text transparent transparent transparent;
      top: 30px;
      left: 10px;
}

.value-question-marker--rail {
  //@extend maki-aboveground-rail;
}

.value-question-statement {
}

.value-question-statement--last {
  text-align: left;
}


.footer-content {
  padding: $gutter-width;
  margin: $gutter-width 0;
  background-color: #ffffff;
  border-top: 3px solid #333;
}



