<% @title = "Kallio 2050" %>

<h2>Minne haluamme rakentaa asuntoja?</h2>

<div class="mapview residential"></div>


<h2>Minne haluamme rakentaa palveluja?</h2>

<div class="mapview services"></div>

<h2>Miten liikumme kaupungissa?</h2>

<div class="graph transportation"></div>