<div class="site-header-content">
  <div class="branding">
    <h2><a href="/">Kenen kaupunki?</a></h2>
    <h5>Katso tulevaisuuden Helsinkiä eri kaupunginosien silmin</h5>
  </div>
  <div class="site-navigation">
    <select class="navigate-areas">
      <option value="kallio">Kallio</option>
      <option value="viikki">Viikki</option>
      <option value="pitajanmaki">Pitäjänmäki</option>
      <option value="olunkyla">Oulunkylä</option>
    </select>
  </div>
</div>