<div class="map-legends">
  <div class="map-legend map-legend--1"><i class="fa fa-circle"></i> Alue ei ole virkistykselle välttamaton, paikalle voisi rakentaa</div>
  <div class="map-legend map-legend--2"><i class="fa fa-circle"></i> Paikka tai alue asuinrakentamiselle</div>
</div>