      <div class="rankingarea-content">
        <ol class="rankingarea-list">
          <li class="rankingarea">Kallio <span class="ranking-count">(128)</span></li>
          <li class="rankingarea">Arabia <span class="ranking-count">(44)</span></li>
          <li class="rankingarea">Pasila <span class="ranking-count">(21)</span></li>
        </ol>
      </div>