      <div class="rankingarea-content">
        <ol class="rankingarea-list">
          <li class="rankingarea">1. Kallio</li>
          <li class="rankingarea">2. Arabia</li>
          <li class="rankingarea">3. Pasila</li>
        </ol>
      </div>