<div class="value-question" data-choice="would_use_rail_transport_more">
<div class="value-question-statement value-question-statement--first">Jos raideliikenteen yhteyksiä parannetaan, käyttäisin raideliikennettä nykyistä enemmän sekä työmatkoihini että vapaa-ajalla.</div>
<div class="value-question-graphic"><div class="value-question-graphic-spacer" style="width:10%"><span class="value-question-marker value-question-marker--rail"><i class="maki-rail"></i></span></div></div>
<div class="value-question-statement value-question-statement--last">Raideliikenteen yhteyksien parantaminen ei vaikuttaisi mitenkään omaan liikkumiseeni.</div>
</div>

<div class="value-question" data-choice="my_area_could_be_built_more">
<div class="value-question-statement value-question-statement--first">Asuinalueeltani löytyy vielä paikkoja, joita voisi käyttää rakentamiseen.</div>
<div class="value-question-graphic"><div class="value-question-graphic-spacer" style="width:90%"><span class="value-question-marker"><i class="maki-commerical-building"></i></span></div></div>
<div class="value-question-statement value-question-statement--last">Asuinalueeni on mielestäni valmis, eikä sinne mahdu lisää rakentamista.</div>
</div>

<div class="value-question" data-choice="agree_bulevardisation">
<div class="value-question-statement value-question-statement--first">Helsingin keskustaan johtavien isojen teiden muuttaminen puistokaduiksi on hyvä idea.</div>
<div class="value-question-graphic"><div class="value-question-graphic-spacer" style="width:20%"><span class="value-question-marker"><i class="fa fa-road"></i></span></div></div>
<div class="value-question-statement value-question-statement--last">Autoliikenteen sujuvuuden varmistamiseksi moottoriteitä tarvitaan keskustaan saakka.</div>
</div>

<div class="value-question" data-choice="agree_add_density">
<div class="value-question-statement value-question-statement--first">Koska Helsinki kasvaa, pitää sitä tiiviistää.</div>
<div class="value-question-graphic"><div class="value-question-graphic-spacer" style="width:50%"><span class="value-question-marker"><i class="fa fa-signal"></i></span></div></div>
<div class="value-question-statement value-question-statement--last">Helsingin pitää toimia niin, että kasvu ohjataan muualle.</div>
</div>

<div class="value-question" data-choice="agree_add_my_area_density_for_less_cars">
<div class="value-question-statement value-question-statement--first">Autoilun tarpeen vähentämiseksi olen valmis hyväksymään tiiviimpää rakentamista asuinalueellani.</div>
<div class="value-question-graphic"><div class="value-question-graphic-spacer" style="width:70%"><span class="value-question-marker"><i class="maki-fuel"></i></span></div></div>
<div class="value-question-statement value-question-statement--last">Autoilun tarpeen vähentäminen ei saa aiheuttaa näkyviä muutoksia asuinalueellani.</div>
</div>

<div class="value-question" data-choice="enjoy_outdoors_large_woods">
<div class="value-question-statement value-question-statement--first">Mieluiten ulkoilen laajassa metsässä, vaikka se olisi vähän kauempana kotoa.</div>
<div class="value-question-graphic"><div class="value-question-graphic-spacer" style="width:1%"><span class="value-question-marker"><i class="maki-tree-1"></i></span></div></div>
<div class="value-question-statement value-question-statement--last">Mieluiten ulkoilen pienessä puistossa tai metsikössä aivan kodin lähellä.</div>
</div>

<div class="value-question" data-choice="enjoy_culture_urban_meetings">
<div class="value-question-statement value-question-statement--first">Kiinnostavin uusi kulttuuri syntyy kohtaamisista kaupungissa.</div>
<div class="value-question-graphic"><div class="value-question-graphic-spacer" style="width:95%"><span class="value-question-marker"><i class="maki-theatre"></i></span></div></div>
<div class="value-question-statement value-question-statement--last">Kiinnostavin uusi kulttuuri ei tarvitse syntyäkseen kaupunkia.</div>
</div>
