<% @title = "Kenen Helsinki 2050?" %>
<% @pageclass = "front" %>

<div class="g-info-section neighborhood-map">
    <div id="neighborhoods">
        <div id="neighborhood-map"></div>
    </div>
</div>

