<% @title = "Kenen Helsinki 2050?" %>

<div class="g-info-section neighborhood-map">
    <h1><%= @title %></h1>
    <div id="neighborhoods">
        <div id="neighborhood-map"></div>
    </div>
</div>

